html {
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

:root {

  --Greenish-Blue: #1E8782;
  --White-Smoke: #F5F5F5;


  --Aluminium: #A5ABBD;
  --Gun-Powder: #414756;

  --Default-Black: #000000;
  --Default-White: #FFFFFF;

  --Red-error: #B92121;

}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--White-Smoke);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2.5rem;
  color: var(--Greenish-Blue);
}

p {
  font-size: 1.125rem;
  line-height: 1.813rem;
}

.p--bold {
  font-weight: 700;
}

ul li {
  font-size: 1.125rem;
  line-height: 1.813rem;
}

.button--text {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
}

/* utility */
.col-gun-powder {
  color: var(--Gun-Powder);
}

.col-greenish-blue {
  color: var(--Greenish-Blue);
}


  /* main */
.container {
  padding: 2rem;
}

  /* header */
header {
  display: flex;
  justify-content: end;

  .nav-button {
    border: none;
    padding: 0;
    background-color: transparent;
  }


  /*
  gap: 3rem;
  margin-bottom: 1rem;
  margin-right: 7.5rem; 
  */
}

header a {
  text-decoration: none;
  color: var(--Default-Black);
  font-size: 1.125rem;
  position: relative;
}

header a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.188rem;
  border-radius: 100rem;
  bottom: -0.3rem;
  left: 0;
  background-color: var(--Greenish-Blue);
  transition: 0.4s;
}

header a:hover::after {
  width: 100%;
}

  /* front page */
.container__front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  gap: 1.5rem;
}

.container__front-page__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


#driving, #results, #closing, #deals, #elevating, #success {
  transition: 0.4s;
  cursor: default;
}

#driving:hover, #closing:hover, #elevating:hover {
  color: var(--Greenish-Blue);
}

#driving:hover + #results, #closing:hover + #deals, #elevating:hover + #success {
  color: var(--Default-Black);
}

  /* about me */
.container__about-me {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.container__about-me__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* my skills */
.container__my-skills {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: auto;
  margin-bottom: 3rem;
}

.container__my-skills__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 76%;
}

.container__my-skills li{
  list-style-type: none;
  position: relative;
}

.container__my-skills li::before {
  content: '';
  position: absolute;
  left: -2.5rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 0.3rem;
  width: 0.3rem;
  background-color: var(--Greenish-Blue);
  border-radius: 100rem;
}

  /* contact me */
.container__contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-and-icon {
  display: flex;
  gap: 0.8rem;
  padding: 1rem;
  background-color: var(--Default-White);
  border-radius: 0.5rem;
  border: 1px solid var(--Default-Black);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(45, 45, 45, 0.327);

}

.field .item, .field .item2 {
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  background-color: transparent;
  border: none;
  padding: 0;
}

.input-and-icon.error {
  border-color: var(--Red-error);
}

.input-and-icon.success {
  border-color: var(--Greenish-Blue);
}

.field .item::placeholder, .field .item2::placeholder {
  color: #A5ABBD;
}

.field .item:focus, .field .item2:focus {
  outline: none;
}

.input-box button {
  width: 80%;
  align-self: center;
  padding: 1rem;
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  border-radius: 100rem;
  border: none;
  background-color: var(--Greenish-Blue);
  color: var(--Default-White);
  box-shadow: 0 0 1rem #26b0a9;
  transition: 0.6s;
  cursor: pointer;
}

.input-box button:hover {
  box-shadow: none;
}

.textarea-field .item {
  resize: none;
}

.field .error-text {
  font-size: 0.9rem;
  color: var(--Red-error);
  text-align: left;
  margin-top: 0.5rem;
  opacity: 0;
  transition: 0.4s;
}

.field.error .error-text {
  opacity: 1;
}



.form-input-icons {
  stroke: #A5ABBD;
  transition: 0.4s;
}

.form-input-icons.error {
  stroke: var(--Red-error);
}

.form-input-icons.success {
  stroke: var(--Greenish-Blue);
}